<div class="flex justify-center items-center space-x-2 mt-3">

</div>
<div>
  <div class="form-row">
    <label for="ai-mode">Human vs AI</label>
    <input type="checkbox" id="ai-mode" [(ngModel)]="aiMode">
  </div>
  <div class="form-row" *ngIf="aiMode">
    <label for="difficulty">Difficulty</label>
    <select name="" id="difficulty" >
      <option>Joke</option>
      <option>Medium</option>
      <option>Impossible</option>
    </select>
  </div>
</div>
<div class="board grid grid-cols-3 gap-0">
<!--  (changeMark)="$event?.valueOf() === 1 ? current = 2 : current = 1"-->

  <app-field *ngFor="let field of fields"
             (click)="setValue(field.id, field.val)"
             [disabled]="!!field.val"
             [(ngModel)]="field.val">
  </app-field>
</div>
<div class="form-row">
  <button class="bg-yellow-300 p-2 rounded" (click)="reset()">Reset</button>
</div>
